* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to bottom,#4885A3,#31B0F0,#5D46F0);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #325d72af;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #3827A3;
    text-align: center;
    text-shadow: 1.2 px 1.2px 2px #237daa91 ;
}

h2 {
    color: #31B0F0;
}